nav .brand-logo {
    margin-left: 10px;
}

.btn_small {
    height: 24px;
    width: 60px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
}

.task_header {
    margin-top: 7px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.sort {
    cursor: pointer;
}

span {
    color:#607d8b;
}

div.pager {
    text-align: center; 
}

div.pager span {
    display: inline-block;
    width: 1.8em;
    height: 1.8em;
    line-height: 1.8;
    text-align: center;
    cursor: pointer;
    background: rgb(255, 255, 255);
    color: rgba(0,0,0,0.87);
    margin-right: 0.5em;
}

div.pager span.active {
    background: #ffffff;
    color: #0089ec;
    font-weight: bold;
    text-align: center;
}

.searchBar {
    width: 50%;
}