nav .brand-logo {
    margin-left: 10px;
}

.btn_small {
    height: 24px;
    width: 60px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
}

.task_header {
    margin-top: 7px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.sort {
    cursor: pointer;
}

span {
    color: red;
}

div.pager {
    text-align: center; 
}

div.pager span {
    display: inline-block;
    width: 1.8em;
    height: 1.8em;
    line-height: 1.8;
    text-align: center;
    cursor: pointer;
    background: #191919;
    color: #ccc;
    margin-right: 0.5em;
}

div.pager span.active {
    background: #fff;
    color:#191919;
    font-weight:bold;
    text-align:center;
}