<!DOCTYPE html>
{% extends 'base.html' %} {% block content %}
<br>
<input class="searchBar" type="text" id="myInput" onkeyup="searchTable()" placeholder="Search for vehicle">
<div class="row">
	<div class="row responsive-table">
		<div class="striped">
			<table id="myTable" class="highlight centered paginated">
				<thead class="thead-light text-center">
					<tr>
						<th class="text-center sort" onclick="sortTable(0)">Manufacturer Name <span>&#x1D306</span></th>
						<th class="text-center sort" onclick="sortTable(1)">Vehicle Model <span>&#x1D306</span></th>
						<th class="text-center sort" onclick="sortTable(2)">Vehicle Year <span>&#x1D306</span></th>
						<th class="text-center sort" onclick="sortTable(3)">Vehicle Horse Power <span>&#x1D306</span></th>
						<th class="text-center sort" onclick="sortTable(4)">Engine Size <span>&#x1D306</span></th>
						<th class="text-center sort" onclick="sortTable(5)">Reg Number <span>&#x1D306</span></th>
                        <th class="text-center">Edit</th>
						<th class="text-center">Delete</th>
					</tr>
				</thead>
				<tbody id="info">
					{% for info in info %}
					<tr>
						<td> {{info.manufacturer_name}} </td>
						<td> {{info.vehicle_model}} </td>
						<td> {{info.vehicle_year}} </td>
						<td> {{info.vehicle_hp}} bhp</td>
						<td> {{info.engine_size}} </td>
						<td> {{info.reg_number}} </td>
						<td class="row">
							<a href="{{url_for('edit_info', info_id=info._id)}}"
								class="btn-floating btn-small blue"><i class="material-icons">edit</i></a>
						</td>
						<td class="row">
							<a href="{{url_for('delete_info', info_id=info._id)}}"
								class="btn-floating btn-small red"><i class="material-icons">delete</i></a>
						</td>
					</tr>
				</tbody>
				{% endfor %}
			</table>
		</div>
	</div>
</div>
{% endblock %}